@import "/src/scss/variables.scss";

.backdrop{
  background-color: #0000009e;
  height: auto;
  min-height: 100vh;
  position: fixed;
  top: 0;
  // z-index: 12;
}

.Modal {
    width: 80%;
    min-height: 50vh;
    height: auto;
    background-color: darken($white, 5%);
    position: fixed;
    // z-index: +15;
    top: 15vh;
    right: 0;
    left: 16vw;
    padding: 2%;
    animation: modal 0.4s 1;
   
    border-radius: $borderRad;
    transition: height 0.5s linear, width 0.5s linear;
  

    .logo{
        background-image: url("../../Assets/CDE-L.png");
        height: 5vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
      }

      h2{
        color: $darkBg;
        text-align: left;
        margin-left: 15vw !important;
      
      }

      input, select{
          width: 52%;
          margin-top: 5vh;
          border-radius: $borderRad;
          background-color: transparent;
          border: 2px solid $blue;
          padding: 1%;
          display: inline-block;
          margin-left: 2vw;
      }

      h6{
         display: inline-block;
         text-align: left;
         margin-right: 2vw;
         margin-left:  5vw !important;
         
      }

      .con{
        height: 50vh;

        .patPhoto{
          aspect-ratio: 1/1;
        
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          border-radius: 55%;
        }

        .nameCon{
          background-color: blue;
          height: 20vh;

        }
        .Name{
          margin-top: 1vh;
          padding-left: 4vw;
        }  
      }
    

      @keyframes modal {
          from{
            transform: scale(0);
            opacity: 0;
            z-index: -1;
          } to{
            transform: scale(1);
            opacity: 1;
            z-index: 2;
          }
        
      }

      @keyframes modalOut {
        from{
          transform: scale(1);
          opacity: 1;
          z-index: 2;
        } to{
          transform: scale(0);
          opacity: 0;
          z-index: -1;
        }
    }

    .time{
      width: 15%;
    }

    .timeLabel{
      margin-right: 0 !important;
    }

    .right{
      margin-left:  2vw !important;
    }

    img{
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 55%;
    }

      
  }
