@import "/src/scss/variables.scss";

.backdrop{
  background-color: #0000009e;
  height: auto;
  min-height: 100vh;
  position: fixed;
  top: 0;
  // z-index: 12;
}

.Modal {
    width: 70%;
    min-height: 30vh;
    @include dropShadow;
    height: auto;
    background-color: darken($white, 5%);
    position: fixed;
    top: 15vh;
    right: 0;
    left: 20vw;
    padding: 2%;
    animation: modal 0.4s 1;
    border-radius: $borderRad;
    transition: height 0.5s linear, width 0.5s linear;
  

    .logo{
        background-image: url("../../Assets/CDE-L.png");
        height: 5vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
      }

      h2{
        color: $darkBg;
        text-align: left;
        margin-left: 10vw !important;
      }

      input, select{
          width: 52%;
          margin-top: 5vh;
          border-radius: $borderRad;
          background-color: transparent;
          border: 2px solid $blue;
          padding: 1%;
          display: inline-block;
          margin-left: 2vw;
      }

      #day, #month, #year{
        width: 9.5vw !important;
      }

      .edit{
        padding-bottom: 1%;
     
        float: right;

        p, svg{
          float: left ;
          margin-left: 10px;
        }

        & :hover{
         color: $blue;
        }
      }

      h6{
         display: inline-block;
         text-align: left;
        //  margin-right: 6vw;
        //  margin-left:  3vw !important;
        
      }
      .personName{
        width: 100%;
        text-align: center;
        margin-left: -2vw !important;
      }

      .con{
        height: 100%;
        .patPhoto{
          aspect-ratio: 1/1;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          border-radius: 55%;
        }

        .nameCon{
          background-color: blue;
          height: 20vh;

        }
        .Name{
          margin-top: 1vh;
          padding-left: 4vw;
        }  
      }
      span{
        text-align: center !important;
    }

    .button{
      display: inline-block;
    }

    #delete{
      background-color: $warning !important;
    }

    .userExist{
      color: $warning;
      margin-left: 32%;
    }

  



    
    

      @keyframes modal {
          from{
            transform: scale(0);
            opacity: 0;
            z-index: -1;
          } to{
            transform: scale(1);
            opacity: 1;
            z-index: 2;
          }
      }

      @keyframes modalOut {
        from{
          transform: scale(1);
          opacity: 1;
          z-index: 2;
        } to{
          transform: scale(0);
          opacity: 0;
          z-index: -1;
        }
    }

    .time{
      width: 8vw;
      margin-right: 2vw;
    }

    .timeLabel{
      margin-right: 0 !important;
    }

    .right{
      margin-left:  2vw !important;
    }

    img{
      height: 100%;
      aspect-ratio: 1/1;
      border-radius: 55%;
    } 

    //Modal to add patients



  }

  #deleteModal{
    .userDelete{
      margin-left: 40%;
      color: $green;
     }

     h2{
        width: 100%;
        text-align: center;
        margin: 0 !important;
     }

     .btnContainer{
      margin-top: 2vh !important;
     }
  }

  #add{
    width: 70%;
    min-height: 30vh;
    max-height: 95vh;
    height: auto;
    background-color: darken($white, 5%);
    position: fixed;
    top: 6vh;
    right: 0;
    left: 10vw;
    padding: 2%;
    animation: modal 0.4s 1;
    border-radius: $borderRad;
    transition: height 0.5s linear, width 0.5s linear;

    .name{
      width: 30%;
    }

    #last{
      margin-left: 3vw;
      font-weight: bold;
      font-family: $secondaryFont;
    }

    h4{
      margin-bottom: -3vh !important;
      margin-top: 6vh !important;
      font-weight:  bold;
      text-align: left;
    }

     #month, #year, #gender{
      width: 12vw !important;
      margin-left: 2vw !important;
    }

    #number, #email, #medicalAidnr{
      width: 14vw;
    }

    #number{
      width: 10vw;
    }

    #email{
      width: 17vw;
    }

    #mail, #medN{
      margin-left: 1vw;
      margin-right: -1vw !important;
    }

    #medicalAidnr{
      width: 12vw;
    }

    #phone{
      margin-left: 0;
    }

    #day{
      margin-left: 0vw;
      margin-right: -6vw !important;
    }

    #monH{
      margin-left: 7vw;
    }
  }

  #view{
    .name{
      width: 30%;
    }

    .nameL{
      margin-left: -2.5vw !important;
    }
    #first{
      margin-left: 1vw !important;
      margin-right: 1vw;
    }

    .gen{
      width: 25%;
      margin-left: 1vw;
      margin-right: 1vw;
    }

    #cell{
      width: 30%;
    }

    #email, #medA {
      width: 50%;
    }

    #medA{
      margin-bottom: 2vh;
    }

    .error{
      color: $warning;
      margin-left: -2.5vw !important;
      margin-right: -4vw !important;
    
    }

    .error2{
      color: $warning;
      margin-left: 0!important;
      margin-right: 1vw !important;
    
    }

    .error1{
      color: $warning;
      margin-left: -2vw!important;
      margin-right: 1vw !important;
    
    }

    .inErr{
      border: 2px solid $warning;
      margin-left: 0 !important;
    }


  }

  #cancel{
    color: $warning !important;
    text-align: right;
   }

   .succ{
    height: auto;
    min-height: 25vh;
    max-height: 30vh;
    background-color: $white;
    position: absolute;
    z-index: +9999;
    @include dropShadow;
    animation: modal 0.4s 1;
    border-radius: $borderRad;
    transition: height 0.5s linear, width 0.5s linear;

    .successinfo{
      text-align: center;
      font-family: $mainFont;
    }

    #close{
      .btn{
        background-color: $warning !important;
      }
    }
   }

   .edited{
    margin-left: 42% !important;
    color: $green !important;
  }

  .closeModal{
    .btn{
      background-color: $warning !important;
    }
  }