@import "/src/scss/variables.scss";

.mod{
    width: 30% !important;
    min-height: 5vh;
    @include dropShadow;
    height: auto;
    background-color: lighten($white, 5%);
    position: fixed;
    top: 71vh;
    right: 0;
    left: 35vw;
    padding: 1%;
    animation: modal 0.4s 1;
    border-radius: $borderRad;
    transition: height 0.5s linear, width 0.5s linear;
  
}