@import "./variables.scss";

.contentContainer{
    padding: 3%;

    h3{
        font-family: $primary;
        font-size: 29px;
        font-weight: 500;
    }

}

.heading{
    margin-top: 6%;
}

.cardsContainer{
    margin-top: 2%;
    overflow-x: auto;
    white-space: nowrap;
}

.primaryBtn{
    background-color: $light-green;
    height: 35px;
    width: 80%;
    margin-top: 7vh;
    color: $fontColor2;
    padding: 2%;
    border-radius: $borderRad;

    p{
        width: 100%;
        height: 0;
    }

    &:hover{
        background-color: $dark-green;
        transform: scale(1.2);
        cursor: pointer;
    }
}

.Card{
    @include boxShadow;
    height: 40vh;
    background-color: $blocks;
    border-radius: $borderRad;
    margin-left: 1.6%;
    display: inline-block;
}


