@import "./variables.scss";
//Refer to Variables.scss for variable information 
.navCon{
    background-color: $primary;
    height: 97vh;
    border-radius: 10px;
    margin-left: 0.7%;
    padding: 1%;   
    position: fixed;
    .logo-container{
        min-height: 10vh;
        background-image: url("../../Assets/CDE.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    #item-1{
        margin-top: 20vh;
    }
    
    .nav-Item{
        margin-top: 5vh;
        width: 100%;
        padding: 1%;
    }
    
    .nav-text{
        display: inline;
        margin-left: 20px;
       
    }

    & :hover{
        color: $fontColor2;
        background-color: $light-green;
    }
}

