@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: #DBECF8;
$light-green: #9FB59E;
$blocks: #B8C9D3; 
$dark-green: #516D57; 
$background: #EFF0F0; 
$borderRad: 8px; 
$mainFont:'Barlow Condensed', sans-serif;
$secondaryFont: 'Catamaran', sans-serif;
$fontColor1 :  #2b2b2b;
$fontColor2 : white;
@mixin boxShadow{
    box-shadow: 11px -1px 27px -11px rgba(0,0,0,0.29);
    -webkit-box-shadow: 11px -1px 27px -11px rgba(0,0,0,0.29);
    -moz-box-shadow: 11px -1px 27px -11px rgba(0,0,0,0.29);
}