@import "/src/scss/variables.scss";

.card{
    height: auto;
    background-color: transparent !important;
    border: none !important;
    margin-right: 1%;
    display: inline-block !important;
    padding-top: 2%;
    margin-bottom: 4vh;

    .photo{
        aspect-ratio: 1/1;
        background-color: red;
        border-radius: 50%;
        background-image: url("../../Assets/rian-ramirez-rm7rZYdl3rY-unsplash.jpg");
        background-position: center;
        background-size: cover;
    }

    .cardText{
        color: $fontColor;
        font-family: $secondaryFont;
       font-size: 16px;
       word-break: break-all;
       word-wrap: break-word;
    }

    &:hover{
        transform: scale(1.1);
        @include dropShadow;
    }
}

