
@import "/src/scss/variables.scss";
.Bookings{
    height: 100%;
    min-height: 57vh;
    max-height: 57vh;
    background-color: $lightwhite;
    border-radius: $borderRad;
    overflow: scroll;
    @include dropShadow;

    .banner{
        height: 15%;
        min-height: 5.7vh;
        background-color: $blue;
        margin-bottom: 20px;
        border-top-left-radius: $borderRad;
        border-top-right-radius: $borderRad;
        padding-top: 1%;
        position: relative;
        z-index: 11;

        h4{
            color: $white;
            font-family: $mainFont;
        }
        
        p{
            color: $white;
            font-family: $secondaryFont;
        }
    }

    .body{
        table{
            width: 100%;
            text-align: center;
        
            th{
                font-family: $mainFont;
                font-size: 20px;
                padding-bottom: 2vh;
            }

            td{
                font-family: $secondaryFont;
                height: 4vh;
                font-size: 18px;
            }
        }

        #noApp{
            display: none;
        }

        .remove{
            width: 25%;
            padding-bottom: 1vh;
            padding-right: 1.5%;
        }
    }
}