@import "/src/scss/variables.scss";


.navCon{
    background-color: $blue;
    height: 97vh;
    border-radius: $borderRad;
    position: fixed;
    

    .logoCon{
        background-image: url("../../../../public/Assets/CDE.png");
        height: auto;
        min-height: 5.1vh;
        background-position: center;
        background-size: cover;
        margin-top: 30%;
    }

    #item1{
        margin-top: 10vh;
    }

    .navText{
        text-decoration: none;
        color: $white;
        transition: 0.4 ease-in-out;
    }

    .navItem{
        margin-bottom: 6vh;
        border-radius: $borderRad;
        aspect-ratio: 1/1;
        text-align: center;
        padding: 15px !important;

        &:hover{
            transform: scale(1.1);
            cursor: pointer;
            font-size: 14px;
          
        }
    }

    svg{
        text-align: center;
    }

    a{
        text-decoration: none !important;
        background-color: none;
    }
    #last{
        margin-bottom: 12vh;
    }

    .active{
        background-color: $hover;
        margin-bottom: 6vh;
        border-radius: 55px;
        aspect-ratio: 1/1;
        text-align: center;
        padding-top: 0.9vh;
        
    
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
            font-size: 14px;
          
        }
    }

}

