@import "/src/scss/variables.scss";

.infoContainer{
  
    width: 28.03%;
  height: 23vh;
    background-color: $white ;
    display: inline-block;
    margin-left: 4.3%;
    border-radius: $borderRad;
    padding-top: 2vh;
    @include dropShadow;



    h4{
        color: $darkerBg;
        font-family: $mainFont;
    }
}