@import "/src/scss/variables.scss";

.profile {
    height: auto;
    max-height: 32vh;
    background-color: $lightwhite;
    border-radius: $borderRad;
    margin-top: 1vh;
    @include dropShadow;
    padding: 1%;

    .banner {
        background-color: $blue;
        height: 15%;
        min-height: 7vh;
        border-top-left-radius: $borderRad;
        border-top-right-radius: $borderRad;
        padding-top: 3%;
    }

    #profileText {
        font-weight: 500;
        color: $white;
    }

    .profileImage {
        aspect-ratio: 1/1;
        background-image: url("../../../../public/Assets/jake-nackos-IF9TK5Uy-KI-unsplash.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 55%;
        float: left;
        margin-left: 2%;
        margin-right: 7%;
        margin-top: 1vh;
    }

    #reception {
        margin-top: 10% !important;
        margin-left: 7%;
        font-size: 24px;
        text-align: center;
        font-family: $mainFont;
        font-weight: 600;
    }

    #title {
        color: $fontColor;
        height: 20px;
        font-size: 17px;
        text-align: center;
        font-family: $secondaryFont;
        font-weight: 400;
    }

   .receptionistInfo{
       display: inline-block;
       margin-top: 2.5vh;

       h6{
           text-align: center;
       }
   }
}