@import "/src/scss/variables.scss";

.WAppointmentCon {
    height: 63vh;
    background-color: $lightwhite;
    margin-top: 2vh;
    border-radius: $borderRad;
    padding-bottom: 2%;
    @include dropShadow;
    .Header {
        height: auto;
        min-height: 6vh;
        background-color: $blue;
        padding-top: 6%;
        padding-left: 5%;
        padding-right: 5%;
        border-top-left-radius: $borderRad;
        border-top-right-radius: $borderRad;
        color: $white;
    }

    .Wbody {
        height: 80%;
        padding: 1%;
        overflow: scroll;

        #upComingAppointments {
            width: 100%;
            text-align: center;

            tr {
                width: 25%;

                th {
                    font-size: 16px;
                }

                td,
                th {
                    color: $fontColor;
                    height: 40px;
                }

                td {
                    font-size: 12px;
                }
                

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }
    }
}