@import "/src/scss/variables.scss";

.calendar {
    height: 100%;
    background-color: $lightwhite;
    border-radius: $borderRad;
    @include dropShadow;

    h4{
        color: $white;
    }

    .day {
        display: inline-block;
        width: 14%;
        height: 6vh;
        text-align: center;
        font-family: $secondaryFont;
        font-size: 18px;
        cursor: pointer;

        .selected {
            background-color: $blue;
            color: $white;
            border-radius: $borderRad;
            height: auto;

            &:hover {
                background-color: $hover;
            }
        }

        &:hover:not(.before) {
            background-color: $hover;
            height: auto;
            border-radius: $borderRad;
            color: $white;
        }
    }

    .today {
        background-color: $currentDayColor;
        color: black;
        border-radius: $borderRad;
    }

    .before {
        p {
            opacity: 0.5;
        }
    }

    .banner {
        height: 15%;
        min-height: 7vh;
        background-color: $blue;
        margin-bottom: 2.5vh;
        border-top-left-radius: $borderRad;
        border-top-right-radius: $borderRad;

        .month {
            margin-top: 2vh;
            text-align: center;
        }

        .month,
        .previous,
        .next {
            float: left;
        }

        .previous,
        .next {
            height: 100%;
            text-align: center;
            padding-top: 1.5vh;
            cursor: pointer;
            transition: 0.2s linear;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .week {
        width: 100%;
        height: 10%;

        .days {
            display: inline-block;
            width: 14%;
            text-align: center;
            font-family: $mainFont;
            font-weight: 600;
            font-size: 22px;
            padding-bottom: 1vh;
        }
    }
}