//All scss folders are imported here because all files are linked to this scss folder. 
@import "./scss/variables.scss";
@import"./scss/Navigation.scss";
@import"./scss/input.scss";
@import"./scss/Appointments.scss";
@import"./scss/AppointmentCard.scss";
@import"./scss/profile.scss";
@import"./scss/calendar.scss";
@import"./scss/Weeklyappointments.scss";
@import"./scss/AvailableBookings.scss";
@import"./scss/patientOverview.scss";
@import"./scss/patients.scss";
@import"./scss/modal.scss";
@import"./scss/people.scss";

html {
  background-color: $Background;
  cursor: default;
}

.content {
  background-color: $Background;
  min-height: 100vh;
  padding: 1%;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: darken($blue, 15%) !important;
  border-radius: $borderRad !important;
  color: $white !important;
  transition: 0.4 ease-in-out;

  &:hover{
    background-color: darken($blue, 30%) !important;
    border: 2px solid $white !important;
    transform: scale(1.1);
  }

  p {
    font-size: 14px;

    display: inline-block;
  }
}

