@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
.navCon {
  background-color: #4163CF;
  height: 97vh;
  border-radius: 10px;
  position: fixed;
}

.navCon .logoCon {
  background-image: url("../Assets/CDE.png");
  height: 5vh;
  background-position: center;
  background-size: cover;
  margin-top: 30%;
}

.navCon #item1 {
  margin-top: 10vh;
}

.navCon .navText {
  text-decoration: none;
  color: #FDFDFD;
}

.navCon .navItem {
  margin-bottom: 5vh;
}

.inputCon {
  height: 10vh;
  padding-top: 1%;
}

.inputCon .input {
  width: 85%;
  height: 5vh;
  background-color: #fdfdfdb8;
  border-radius: 10px;
  display: inline-block;
  padding-left: 2%;
  outline: none;
  border: none;
}

.inputCon .submit {
  display: inline-block;
  width: 10%;
  background-color: #4163CF;
  text-align: center;
  position: absolute;
  left: 52%;
  height: 5vh;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.inputCon .submit .search {
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  color: white;
  font-family: "Catamaran", sans-serif;
  margin-top: 5%;
}

.inputCon .submit .icon {
  margin-top: -3% !important;
}

.wrap {
  padding: 0 !important;
}

h2 {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

.cardCon {
  min-height: 35vh;
  overflow-x: scroll;
  white-space: nowrap;
}

.cardCon .smallText {
  color: rgba(253, 253, 253, 0.5);
  font-family: "Catamaran", sans-serif;
  font-size: 14px;
  position: -webkit-sticky;
  position: sticky;
}

.work {
  height: 51vh;
}

.calendarCon {
  background-color: rgba(0, 0, 255, 0.3);
  height: 59vh;
}

.card {
  height: 35vh;
  background-color: transparent !important;
  border: none !important;
  margin-right: 1%;
  display: inline-block !important;
  padding-top: 2%;
}

.card .photo {
  height: 40%;
  background-color: red;
  border-radius: 50%;
  background-image: url("../Assets/Picholas-Cage.jpeg");
  background-position: center;
  background-size: cover;
}

.card .cardText {
  color: calc(#FDFDFD);
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
}

.profile {
  height: 100%;
  background-color: #232436;
  border-radius: 10px;
}

.profile .banner {
  background-color: #4163CF;
  height: 20%;
  border-radius: 10px;
  padding-top: 5%;
}

.profile #profileText {
  font-weight: 400;
}

.profile .profileImage {
  height: 150px;
  background-image: url("../Assets/Picholas-Cage.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  float: left;
  margin-left: 2%;
}

.profile #reception {
  float: left;
  margin-top: 10% !important;
  margin-left: 7%;
}

.profile #title {
  color: #FDFDFD;
  height: 20px;
  font-size: 19px;
  text-align: center;
}

.profile .receptionInfo {
  height: 20vh;
  margin-top: 6vh;
}

.profile .receptionInfo .receptionInfoT {
  width: 100%;
  text-align: center;
  color: #FDFDFD;
}

.profile .receptionInfo .receptionInfoT td {
  border-right: 1.5px solid #FDFDFD;
  font-family: "Catamaran", sans-serif;
  font-size: 19px;
}

.profile .receptionInfo .receptionInfoT th {
  height: 70px;
  padding-bottom: 20px;
  width: 20%;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
}

.profile .receptionInfo .receptionInfoT .rightContainer {
  border-right: none;
}

.calendar {
  height: 100%;
  background-color: #FDFDFD;
  border-radius: 10px;
}

.calendar .day {
  display: inline-block;
  width: 14%;
  height: 8vh;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.calendar .selected {
  background-color: #4163CF;
  color: #FDFDFD;
  border-radius: 10px;
  height: 100%;
}

.calendar .selected:hover {
  background-color: #0C3FE1;
}

.calendar .today {
  background-color: rgba(188, 188, 188, 0.392);
  color: black;
  border-radius: 10px;
  height: 100%;
}

.calendar .before p {
  opacity: 0.5;
}

.calendar .banner {
  height: 20%;
  background-color: #4163CF;
  margin-bottom: 20px;
}

.content {
  background-color: #443948;
  min-height: 100vh;
  padding: 1%;
}

.btn {
  width: 105px;
  height: 40px;
  background-color: #0C3FE1 !important;
  border-radius: 10px !important;
  color: #FDFDFD !important;
}

.btn p {
  font-size: 14px;
  text-align: right;
  display: inline-block;
}
/*# sourceMappingURL=index.css.map */