 @import "./scss/variables.scss";
@import"./scss/Navigation.scss";
@import"./scss/input.scss";
@import"./scss/Appointments.scss";
@import"./scss/AppointmentCard.scss";

.content{
  background-color: $Background ;
  min-height: 100vh;
  padding: 1%;
}

.btn{
  width: 105px;
  height: 40px;
  background-color: $hover !important;
  border-radius: $borderRad !important;
  color: $white !important;



  p{
    font-size: 14px;
    text-align: right;
    display: inline-block;
  }

 
} 

