@import "../scss/variables.scss";


.wrap{
    padding: 0 !important;
}

    h2{
        color: white;
        font-family: $mainFont;
    }
    
    
    .cardCon{
        min-height:35vh;
        overflow-x: scroll;
        white-space: nowrap;
       
    
        .smallText{
            color:  rgba($color: $white, $alpha: 0.5);
            font-family: $secondaryFont;
            font-size: 14px;
            position: sticky;
        }
    }

 

    .work{
        height: 51vh;     
    }

    .calendarCon{
        background-color: rgba($color: blue, $alpha: 0.3);
        height: 59vh;
    }


