@import "../scss/variables.scss";

.inputCon {
    height: 10vh;
    padding-top: 1%;

    .input {
        width: 85%;
        height: 5vh;
        background-color: $lightwhite;
        border-radius: $borderRad;
        display: inline-block;
        padding-left: 2%;
        outline: none;
        border: 3px solid $blue;
    }

    .submit {
        display: inline-block;
        width: 10%;
        background-color: $blue;
        text-align: center;
        position: absolute;
        right: 26%;
        height: 5vh;
        border-radius: 0px 10px 10px 0px;
        cursor: pointer;
        transition: 0.4 ease-in-out;

        &:hover{
          background-color: darken($blue, 30%) !important;
          border-radius: 10px 10px 10px 10px;
          transform: scale(1.1);
        }

        .search {
            display: inline-block;
            font-size: 18px;
            margin-left: 10px;
            color: white;
            font-family: $secondaryFont;
            margin-top: 5%;
        }

        .icon {
            margin-top: -3% !important;
        }
    }
}