@import "../scss/variables.scss";

.infoContainer{
    aspect-ratio: 1/0.8;
    width: 32.03%;
    background-color: $white ;
    display: inline-block;
    margin-left: 1.3%;
    border-radius: $borderRad;
    padding-top: 2vh;
    @include dropShadow;



    h4{
        color: $darkerBg;
        font-family: $mainFont;
    }
}