@import "../scss/variables.scss";

.infoContainer{
    aspect-ratio: 1/0.8;
    width: 32.03%;
    background-color: $blue ;
    display: inline-block;
    margin-left: 1.3%;
    border-radius: $borderRad;

    .iconCon{
        height: 48%;
        width: 100%;
        background-color: $white;
        border-top-left-radius: $borderRad;
        border-top-right-radius: $borderRad;
        text-align: center;
        padding-top: 2%;
    }

    h4{
        color: white;
        font-family: $mainFont;
    }
}