@import "../scss/variables.scss";



    .infoCon{
        height: 8vh;
        margin-bottom: 2vh;

        .picture {
            aspect-ratio: 1/1;
            background-image: url("../../public/Assets/bwlpkckoeogixawh3mhb.webp");
            background-position: center;
            background-size: cover;
            border-radius: 55%;
            display: inline-flex;
            background-color: white;
        }
    
        .picture, .id, .name, .title, .age, .gender, .viewBtn{
            float: left;
        }
    
         .id, .name, .title, .age, .gender {
            float: left;
            margin-top: 3vh;
        }
    
        .viewBtn{
            margin-top: 2vh;
        }
    }

   




    
