@import "../scss/variables.scss";

.profile {
    height: 43vh;
    background-color: $lightwhite;
    border-radius: $borderRad;
    margin-top: 1vh;
    @include dropShadow;

    .banner {
        background-color: $blue;
        height: 20%;
        border-top-left-radius: $borderRad;
        border-top-right-radius: $borderRad;
        padding-top: 5%;
    }

    #profileText {
        font-weight: 500;
        color: $white;
    }

    .profileImage {
        aspect-ratio: 1/1;
        background-image: url("../../public/Assets/jake-nackos-IF9TK5Uy-KI-unsplash.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 55%;
        float: left;
        margin-left: 2%;
        margin-right: 7%;
        margin-top: -2vh;
    }

    #reception {
        margin-top: 10% !important;
        margin-left: 7%;
        font-size: 24px;
        text-align: center;
        font-family: $mainFont;
        font-weight: 600;
    }

    #title {
        color: $white;
        height: 20px;
        font-size: 17px;
        text-align: center;
        font-family: $secondaryFont;
        font-weight: 400;
    }

    .receptionInfo {
        height: 20vh;
        margin-top: 6vh;

        #receptionInfoT {
            width: 100%;
            text-align: center;
            color: $fontColor;

            td {
                border-right: 1.5px solid $white;
                font-family: $secondaryFont;
                font-size: 16px;
                text-align: center;
            }

            th {
                height: 70px;
                padding-bottom: 20px;
                width: 20%;
                font-family: $mainFont;
                font-size: 22px;
            }

            .rightContainer {
                border-right: none;
            }
        }
    }
}