@import "../scss/variables.scss";

.staffInfo{
    display: inline-flex;
    width: 23.4%;
    padding: 0.5%;
    aspect-ratio: 1/1.7;
    background-color: $white;
    border-radius: $borderRad;
    @include dropShadow;
    margin-left: 1vw !important;
    margin-bottom: 2vh !important;

    .staffPhoto{
        width: 5vw;
        aspect-ratio: 1/1;
        background-color: red;
        border-radius: 55%;
        float: left;
        background-image: url("../../public/Assets/usman-yousaf-pTrhfmj2jDA-unsplash.jpg");
        background-position: center;
        background-size: cover;
    }

    .memberName{
        margin-top: 2.7vh;
        margin-left: 0.4vw;
        font-weight: 500;
        float: left;
        font-size: medium;
    }

    .info{
    margin-top: 0;
    margin-bottom: 0.2vh;
    margin-left: 0.4vw;
    font-weight: 500;
    font-family: $mainFont;
    }

    .removebtn{
        width: 80%;
        height: auto;
        margin-top: 4%;
        margin-left: 10%;
        
       #removeStaff{
           background-color: red !important;

           &:nth-child(1){
               color: red !important;
           }
       }
    }
}