@import "../scss/variables.scss";


.wrap {
    padding: 0 !important;
}

h2 {
    color: $fontColor;
    font-family: $mainFont;
}

.cardCon {
    min-height: 28vh;
    overflow-x: scroll;
    white-space: nowrap;
}

.work {
    height: 51vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1vh;
}

#todayApp{
    margin-top: 1vh;
}

.calendarCon,
.BookingCon {
    height: auto;
}

.BookingCon {
    margin-top: 2vh;
}

.appDelete{
    background-color: $warning !important;
}



