.staffWrapper{
    margin: 0 !important;
    padding: 0 !important;
}

.allPatients{
    width: 100%;
    margin-bottom: 3vh;
}


.doctorinfo{
    float: left;
   text-align: center;
   margin-top: 1vh;
}

.edit{
   & :first-child{
     background-color: darken($blue, 30%) !important;
   }
}