.sectionCon {
    height: 4vh;
    background-color: red;
}

.addPatient {
    height: 4.4vh;
    display: inline-block;
    margin-top: 2vh;

    .button {
        aspect-ratio: 1/1;
        background-color: $green;
        border-radius: 50%;
        padding: 1%;
        display: inline-block;
        margin-right: 1vw;

        &:hover {
            background-color: darken($green, 5%);
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .buttonText {
        color: $green;
        display: inline-block;
        font-family: $secondaryFont;
        font-size: 16px;
        font-weight: 500;
    }
}

.allPatients {
    display: inline-block;
    margin-bottom: -2vh;
}

.personBanner {
    height: auto;
    max-height: 44vh;
    margin-top: 3vh;
    padding-bottom: 2vh;
    overflow: scroll;
}